@use '../util' as u;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: u.$font;
	background-color: var(--background-color);
	color: var(--text-dark);
	margin-block-end: 50vh; // temporary, remove after site is complete
}

img {
	display: block;
	width: 100%;
	height: auto;
}

figure,
blockquote {
	margin: 0;
}

.visually-hidden {
	position: absolute;
	left: u.rem(10000);
	top: auto;
	width: u.rem(1);
	height: u.rem(1);
	overflow: hidden;

	&:focus {
		left: 0;
		width: auto;
		height: auto;
		background-color: #fff;
		padding: 0.5rem;
		border: 1px solid;
	}
}
