@use '../util' as u;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: u.$font;
	background-color: var(--background-color);
	color: var(--text-color);
}

.visually-hidden {
	position: absolute;
	left: u.rem(10000);
	top: auto;
	width: u.rem(1);
	height: u.rem(1);
	overflow: hidden;
}
