@use '../util' as u;

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
}

h1 {
	font-size: u.rem(42); //2.625rem;
	font-size: clamp(
		u.rem(42),
		1.77rem + 3.64vw,
		u.rem(72)
	); // 2.625rem <-> 4.5rem
}

h2 {
	font-size: u.rem(36); // 2.25rem
	font-size: clamp(u.rem(36), 1.91rem + 1.45vw, u.rem(48)); // 2.25rem <-> 3rem
}

h3 {
	font-size: u.rem(24);
}

p {
	font-size: u.rem(16);
	margin-top: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
